<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 py-lg-4 py-md-3 py-2">
        <li class="breadcrumb-item"><a href="./recordingManage.html#">Cloud Storage</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recording Manage</li>
    </ol>
</nav> -->
<!-- loading -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="recoarding-share recoarding-share-for recoarding-manage rounded-10">
    <div class="recoarding-share-top bg-white shadow">
        <h3>{{cf.translate('Recording Manage')}}</h3>
        <form  [formGroup]="formGroup" (submit)="search()">
            <div class="recoarding-share-form mb-0 row">
                <div class="col-md-6 d-flex flex-wrap justify-content-between">
                    <h4 class="w-100">{{cf.translate('Data Range')}}</h4>
                    <div class="form-group date-pickeer position-relative">
                        <span class="">{{cf.translate('From')}}</span>
                        <input type="text" id="dates1" data-input="" class="datepicker form-control fs-14 py-0 ps-3 pe-3 h-md-45px h-40px flatpickr-input" placeholder="03/10/2014" formControlName="from" readonly="readonly">
                        <label for="dates1" class="position-absolute top-0 right-10px bottom-0 my-auto d-grid align-items-center">
                            <img src="assets/theme/img/calender.png" alt="" class="h-22px">
                        </label>
                    </div>
                    <div class="form-group date-pickeer position-relative">
                        <span class="">{{cf.translate('To')}}</span>
                        <input type="text" id="dates2" data-input="" class="datepicker form-control fs-14 py-0 ps-3 pe-3 h-md-45px h-40px flatpickr-input" placeholder="03/10/2014" formControlName="to" readonly="readonly">
                        <label for="dates2" class="position-absolute top-0 right-10px bottom-0 my-auto d-grid align-items-center">
                            <img src="assets/theme/img/calender.png" alt="" class="h-22px">
                        </label>
                    </div>
                </div>
                <div class="col-md-6 ps-xxl-5 ps-xl-5">
                    <h4 class="w-100">{{cf.translate('Viewing Status')}}</h4>
                    <div class="form-group position-relative">
                        <div class="row">
                            <div class="col-md-2 col-auto custom_radio_2">
                                <input type="radio" id="All" [value]="-1" formControlName="filter">
                                <label for="All">{{cf.translate("All")}}</label>
                            </div>
                            <div class="col-md-2 col-auto custom_radio_2">
                                <input type="radio" id="Read" [value]="1" formControlName="filter">
                                <label for="Read">{{cf.translate("Read")}}</label>
                            </div>
                            <div class="col-md-2 col-auto custom_radio_2">
                                <input type="radio" id="Unread" [value]="0" formControlName="filter">
                                <label for="Unread">{{cf.translate("Unread")}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="recoarding-share-form recoarding-type mb-0 row mt-4">
                <h4 class="w-100">{{cf.translate("Recording Type")}}</h4>
                <div class="form-group position-relative custom_form_2">
                    <select class="select_style1" formControlName="type" style="height: 50px;">
                        <option [value]="-1" data-select2-id="select2-data-2-8w7j">{{cf.translate("All")}}</option>
                        <option [value]="0">{{cf.translate("Instant meeting")}}</option>
                        <option [value]="1">{{cf.translate("Schedule meeting")}}</option>
                        <option [value]="2">{{cf.translate("leave message")}}</option>
                    </select>
                </div>
                <div class="form-group position-relative search_bar">
                    <i class="fal fa-search"></i>
                    <input type="search"  formControlName="title">
                    <input class="button" value="Search" type="submit">
                </div>
                <!-- <div class="form-group position-relative form-btns">
                    <a class="seemore_btn me-md-4 commonA text-white" data-bs-toggle="modal" data-bs-target="#upload" (click)="uploadFormSet()">{{cf.translate("Upload")}}</a>
                    <a class="seemore_btn commonA text-white">{{cf.translate("Delete")}}</a>
                </div> -->
            </div>
        </form>
    </div>
    <div class="recoarding-manage-bottom">
        <div class="table-responsive header-center">
            <table mat-table [dataSource]="tableList" class="table" matSort>
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef class="checkTh">
                    <mat-checkbox (change)="$event ? masterToggle() : null;"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="checkTh">
                    <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null;" [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
                </ng-container>
                <ng-container [matColumnDef]="'No'">
                <th class="NoTh" mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate('No')}} </th>
                <td class="NoTd" mat-cell *matCellDef="let row; let i = index">
                    {{ (paginator.pageIndex * paginator.pageSize) + (i + 1)}}
                </td>
                </ng-container>
                <ng-container *ngFor="let rows of tbCol; let i = index">
                <ng-container *ngIf="specialCol.indexOf(rows)==-1" [matColumnDef]="rows">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate(tbHeader[i])}} </th>
                    <td mat-cell *matCellDef="let row" class="text-center"> {{row[rows]}} </td>
                </ng-container>
                </ng-container>
                <!-- action -->
                <ng-container matColumnDef="Action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="stickyOperationHeader-sm">
                    {{cf.translate('Action')}} </th>
                <td mat-cell *matCellDef="let row" class="stickyOperationCell-sm" style="width: 260px;">
                    <div class="oprations-icons d-flex justify-content-start">
                       <a href="javascript:;" (click)="modal_src = row" data-bs-toggle="modal" data-bs-target="#detail">
                            <img src="assets/theme/img/ico-7.png" alt="">
                            <span>{{cf.translate("Details")}}</span>
                        </a>
                        <!-- <a href="javascript:;">
                            <img src="assets/theme/img/ico-6.png" alt="">
                            <span>Resume</span>
                        </a> -->
                        <a href="javascript:;" (click)="playback(row)">
                            <img src="assets/theme/img/ico-5.png" alt="">
                            <span>{{cf.translate('Playback')}}</span>
                        </a>
                        <!-- <a href="javascript:;">
                            <img src="assets/theme/img/ico-4.png" alt="">
                            <span>{{cf.translate('Download')}}</span>
                        </a> -->
                        <!-- <a href="javascript:;" (click)="editformSet(row)" data-bs-toggle="modal" data-bs-target="#leaveMsg">
                            <img src="assets/theme/img/ico-3.png" alt="">
                            <span>{{cf.translate('Edit')}}</span>
                        </a> -->
                        <a href="javascript:;" (click)="uploadFormSet(row)" data-bs-toggle="modal" data-bs-target="#upload">
                            <img src="assets/theme/img/ico-2.png" alt="">
                            <span>{{cf.translate('CloudDisk')}}</span>
                        </a>
                        <!-- <a *ngIf="row.recording_read==0||(row.is_mine==0&&row.is_read==0)" href="javascript:;" (click)="read([row],1)">
                            <i class="fa fa-envelope-o Btn7 bgCoral"></i>
                            <span>{{cf.translate('Read')}}</span>
                        </a>
                        <a *ngIf="row.recording_read==1||(row.is_mine==0&&row.is_read==1)" href="javascript:;" (click)="read([row],0)">
                            <i class="fa fa-envelope-open-o Btn7 bgCoral"></i>
                            <span>{{cf.translate('UnRead')}}</span>
                        </a> -->
                        <!-- <a data-bs-toggle="modal" data-bs-target="#sharemodal" href="javascript:;">
                            <img src="assets/theme/img/ico-1.png" alt="">
                            <span>Share</span>
                        </a> -->
                    </div>
                </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No Item</td>
                </tr>
            </table>
        </div>  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>  
    </div>
    <!-- upload modal -->
    <div class="modal fade recording-form-modal publish_modal" id="upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="share-recording-modal p-md-4 p-3">
                        <h3>{{cf.translate("Save To CloudDisk")}}</h3>
                        <form #ngForm1="ngForm" class="recording-modal row" [formGroup]="uploadForm" (submit)="ToCloud()">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="fs-14 pb-1">{{cf.translate("File Name")}}</label>
                                    </div>
                                    <div class="col custom_form_2 mb-2">
                                        <input type="text" formControlName="filename" readonly>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-12 custom_form_2 mb-2" style="width: 100%;">
                            <label class="fs-14 pb-1">{{cf.translate("File Title")}}*</label>
                            <input type="text" placeholder="" formControlName="title" [class]="ngForm1.submitted&&uploadForm.controls['title'].errors?'form-error':''">
                        </div>
                        <div class="col-md-12 custom_form_2 mb-2" style="width: 100%;">
                            <label class="fs-14 pb-1">{{cf.translate("Keywords")}}*</label>
                            <input type="text" [placeholder]="cf.translate('Keywords by comma.')" formControlName="key" [class]="ngForm1.submitted&&uploadForm.controls['key'].errors?'form-error':''">
                        </div>
                        <div class="col-md-6 d-md-block d-none"></div>
                        <div class="col-md-6 modal_btns d-flex justidy-content-end mt-md-5 mt-3">
                            <button class="bg-primary me-2 text-white commonA btn2 no-border" type="submit">{{cf.translate("Save")}}</button>
                            <a class="bg-secondary ms-2 text-white commonA cursor" data-bs-dismiss="modal">{{cf.translate("Cancel")}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>          
   
    <!-- detail modal-->
    <div class="modal fade recording-form-modal publish_modal" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" *ngIf="modal_src">
                    <div class="share-recording-modal p-md-4 p-3">
                        <h3>{{cf.translate("Recording info")}}</h3>
                        <div>
                            <div class="mb-2">
                                <label for="phonenumber" class="text-primary fs-14 pb-1 lb1">{{cf.translate('Title')}}:</label>{{modal_src.meetingStatus.title}}
                            </div>
                            <div class="mb-2">
                                <label for="phonenumber" class="text-primary fs-14 pb-1 lb1">{{cf.translate('StartTime')}}:</label>{{modal_src.meetingStatus.startTime}}
                            </div>
                            <div class="mb-2">
                                <label for="phonenumber" class="text-primary fs-14 pb-1 lb1">{{cf.translate('Duration')}}:</label>{{modal_src.meetingStatus.duration}}
                            </div>
                            <div class="mb-2">
                                <label for="phonenumber" class="text-primary fs-14 pb-1 lb1">{{cf.translate('Participant')}}:</label>{{modal_src.meetingStatus.participant==0?0:getParticipant(modal_src.meetingStatus.participant_data)}}
                            </div>
                            <div class="mb-2">
                                <label for="phonenumber" class="text-primary fs-14 pb-1 lb1">{{cf.translate('Terminate')}}:</label>{{modal_src.meetingStatus.how}}
                            </div>
                        </div>
                        <div class="modal_btns d-flex justidy-content-end mt-md-5 mt-3" style="justify-content: flex-end;">
                            <!-- <button type="submit" class="bg-primary btn2 no-border">{{cf.translate('Confirm')}}</button> -->
                            <a class="bg-secondary ms-2 text-white commonA" data-bs-dismiss="modal">{{cf.translate('Cancel')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       <!-- Vendor JS Files -->


    <!-- Vendor JS Files -->
    <!-- <div class="modal fade recording-form-modal publish_modal" id="uploadrecording" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="share-recording-modal p-md-4 p-3">
                        <h3>{{cf.translate("Upload Recording")}}</h3>
                        <form class="recording-modal row" action="./recordingManage.html" [formGroup]="uploadForm" (submit)="upload()">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="phonenumber" class="fs-14 pb-1">{{cf.translate("Select File")}}</label>
                                    </div>
                                    <div class="col custom_form_2 mb-2">
                                        <input type="text" formControlName="file_path" readonly>
                                    </div>
                                    <div class="col-auto ps-0">
                                        <input type="file" #fileinput  (change)="setFile($event)"  style="display: none;">
                                        <input class="select-file" type="text" value="Select File" (click)="openFileInput()" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 custom_form_2 mb-2" style="width: 100%;">
                                <label for="phonenumber" class="fs-14 pb-1">{{cf.translate("Recording Title")}}</label>
                                <input type="text" placeholder="" formControlName="title">
                            </div>
                            <div class="col-12 mt-3">
                                <div class="note_box">
                                    <strong class="d-block fw-normal">{{cf.translate("Note")}}:</strong>
                                    <span>{{cf.translate("File extension name must be .jnr")}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-md-block d-none"></div>
                            <div class="col-md-6 modal_btns d-flex justidy-content-end mt-md-5 mt-3">
                                <button class="bg-primary me-2 text-white commonA btn2 no-border" type="submit">{{cf.translate("Publish")}}</button>
                                <a class="bg-secondary ms-2 text-white commonA cursor" (click)="uploadFormSet()">{{cf.translate("Reset")}}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>          Vendor JS Files -->