.td{
    color: black;
}
.Btn7{
    width: 32px;
    height: 32px;
    padding: 4px;
    font-size: 22px;
    border-radius: 5px;
}
.bgCoral{
    background-color: coral;
    color: white;
}
.lb1{
    width: 100px; text-align: right; margin-right: 10px;
}