<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 py-lg-4 py-md-3 py-2">
        <li class="breadcrumb-item"><a>{{cf.translate('System Manage')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{cf.translate('Messenger Status')}}</li>
    </ol>
</nav>
<div class="row bg-white shadow ms-md-0 me-md-0 rounded-10">
    <div class="col-12">
        <div class="row">
            <div class="col-12 text-primary fs-lg-20 fs-md-18 fs-18 text-center py-lg-4 py-md-3 py-2 my-2">
                <!-- <span class="fs-14 d-block">{{cf.translate('Send Init Notification to all server')}}</span> -->
                <br>
                {{cf.translate('Status of Messenger Users')}}
            </div>
        </div>
        <div class="w-100 mb-4 py-4">
            <div class="row m-0 w-100 mb-1 bg-newBlue rounded-3">
                <p class="fs-13 mb-0 py-3 text-center col">
                    www.flybirdim.com
                </p>
                <p class="fs-13 mb-0 py-3 text-center col">

                </p>
                <p class="fs-13 mb-0 py-3 text-center w-150px text-red col-auto">
                    offline
                </p>
            </div>
            <div class="row m-0 w-100 mb-1 bg-newGray rounded-3">
                <p class="fs-13 mb-0 py-3 text-center col">
                    117.21.178.46
                </p>
                <p class="fs-13 mb-0 py-3 text-center col">

                </p>
                <p class="fs-13 mb-0 py-3 text-center w-150px text-red col-auto">
                    offline
                </p>
            </div>
        </div>
    </div>
</div>
