.contentItems-right{
  justify-content: flex-end;
}
.contentItems-left{
    justify-content: flex-start;
  }
.recurDiv{
    background-color: white;
    padding: 23px;
}  
.smform1{
    width: 60px;
    height: 27px !important;
    margin: 0px 10px;
}
.flexDiv{
    display: flex;
}
.chDiv1{
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    border: solid 1px #ddd;
    margin-left: 10px;
}
.chDiv2{
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    border: solid 1px #ddd;
    margin-left: 10px;
}
.infoDiv{
    border: solid 1px #ddd;
    padding: 5px 45px;
    background-color: bisque;
}