<div class="container-fluid loginBg d-flex align-items-center justify-content-center">

  <div class="centerPart row m-0 m-width-100 m-m-3">
      <div class="leftPart col-auto p-0">
          <div class="leftPartInner w-100 h-100  d-flex align-items-center justify-content-center">
              <img src="assets/theme/img/sidelogo.png" class="leftLogo">
          </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center position-relative">

          <div class="container m-p-0 p-0">
              <div class="col-12 text-primary fs-lg-26 fs-md-22 fs-22 text-center m-mt-5 m-pt-3">{{cf.translate('Reset Password')}}<span class="refresh-btn"><i class="fa fa-refresh" (click)="resetFormSet();stepper.reset()"></i></span></div>
              <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="AccountFormGroup"  [editable]="isEditable">
                  <form [formGroup]="AccountFormGroup" style="margin:0px 10px" (ngSubmit)="checkVerification()">
                    <ng-template matStepLabel>{{cf.translate('Account Verification')}}</ng-template>
                    <div class="row setup-content">
                      <div class="col-xs-12 recording-modal">
                          <div class="col-md-6 offset-3 m-ml-0 custom_form_2 mb-2">
                              <label class="fs-14 pb-1 text-primary">{{cf.translate('Phone Number')}}</label>
                              <input type="text" formControlName="phone">
                          </div>
                          <div class="row col-md-6 offset-3 m-ml-0 p-0 m-width-100">
                            <div class="col-md-7 col-7 custom_form_2 mb-2 pl-0 pr-1">
                                <label for="code" class="fs-14 pb-1 text-primary">{{cf.translate('Verification')}}</label>
                                <input type="text" formControlName="verification">
                            </div>
                            <div class="col-md-5 col-5 pl-1 pr-0" style="margin-top: 22px;">
                               <img #captchaImage/><i class="fa fa-refresh" (click)="getCaptcha()" style="cursor: pointer;"></i>
                            </div>
                          </div>
                          <div class="row col-md-6 offset-3 m-ml-0 p-0 m-width-100">
                              <div class="col-md-7 col-7 custom_form_2 mb-2 pl-0 pr-1">
                                  <label for="code" class="fs-14 pb-1 text-primary">{{cf.translate('Code')}}</label>
                                  <input type="text" formControlName="code">
                                </div>
                              <div class="col-md-5 col-5 pl-1 pr-0">
                                  <a class="customBtn3 width-100 mt-30 h-35px commonA" (click)="getVerification()">{{cf.translate('Get code')}}</a>
                              </div>
                          </div>
                          <div class="row col-md-6 offset-3 m-ml-0 justify-content-center  mt-2">
                              <div class="col ml-auto p-0 text-md-start  text-center">
                                  <button class="customBtn2 nextBtn no-border">{{cf.translate('Next')}}</button>
                              </div>
                          </div>
                      </div>
                    </div>  
                  </form>
                </mat-step>
                <mat-step [stepControl]="NewPasswordFormGroup" [editable]="isEditable">
                  <form [formGroup]="NewPasswordFormGroup" (ngSubmit)="confirmResetPassword()" style="margin:0px 10px">
                    <ng-template matStepLabel>{{cf.translate('Set New Password')}}</ng-template>
                    <div class="row setup-content">
                      <div class="col-xs-12">
                          <div class="col-md-12">
                              <div class="col-md-6 offset-3 m-ml-0 custom_form_2 mb-2">
                                  <label class="fs-14 pb-1 text-primary">{{cf.translate('New Password')}}</label>
                                  <input type="password" formControlName="new" [placeholder]="cf.translate('At least 8 letter and Number')">
                              </div>
                              <div class="col-md-6 offset-3 m-ml-0 custom_form_2 mb-2">
                                  <label class="fs-14 pb-1 text-primary">{{cf.translate('Confirm Password')}}</label>
                                  <input type="password" formControlName="confirm" [placeholder]="cf.translate('Type it again.')">
                              </div>
                              <div class="row col-md-6 offset-3 m-ml-0 justify-content-center  mt-2">
                                  <div class="col ml-auto p-0 text-md-start  text-center">
                                      <button type="submit" class="customBtn2 nextBtn no-border">{{cf.translate('Confirm')}}</button>
                                  </div>
                              </div>

                          </div>
                      </div>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>{{cf.translate('Completion')}}</ng-template>
                  <div class="row setup-content">
                    <div class="col-xs-12">
                        <div class="col-md-12">

                            <div class="col-md-6 offset-3 m-ml-0 text-md-center text-center custom_form_2 mb-2">
                                <h3 class="color-green"><i class="far fa-check-square"></i></h3>
                                <h5 class="color-green">New password has been set successfully.</h5>
                                <p>Please remember your password</p>
                            </div>

                            <div class="row col-md-6 offset-3 m-ml-0 justify-content-center  mt-2">
                                <div class="col ml-auto p-0 text-md-center  text-center">
                                    <a href="login" class="customBtn2 nextBtn">Login</a>
                                </div>
                            </div>
<!--                                <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>-->
                        </div>
                    </div>
                </div>
                </mat-step>
              </mat-horizontal-stepper>
          </div>

          <a href="/login" class="btn-back-login">Login</a>
      </div>
  </div>
</div>