.dAH{
    color: #6c1987 !important;
    text-align: right;
    width: auto;
    text-decoration: none;

}
.dAI{
    color: #116af0 !important;
    text-align: right;
    width: auto;
    text-decoration: none;

}
.hideP{
    height: 27px;
    overflow: hidden;
}
.dadiv{
    display: flex;
    justify-content: flex-end;
}
.decoA{
    color: white !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.textDiv{

}
.qrDiv{
    display: flex;
    justify-content: center;
}
.contentDiv{
    width: 600px;
    max-width: 100%;
    background-color: white;
    padding: 14px;
    display: flex;
    border-radius: 11px;
}
.rootDiv{
    display: flex;
    justify-content: center;
}