.btn11{
    margin: 0px !important;
    padding: 8px 20px !important;
}
.btn11Div{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.calendarDiv{
    
}
.colorInfoDiv{
    display: flex;
    justify-content: flex-end;
}
.recColor{
    width: 150px;
    display: flex;
}
.recColor0 label{
    width: 50px;
    height: 22px;
    background-color: #198754;
    margin-right: 5px;
    border-radius: 3px;
}
.recColor0 p{
   color: #086afd;
   font-size: 14px;
}
.recColor1 label{
    width: 50px;
    height: 22px;
    background-color: #ff4081;
    margin-right: 5px;
    border-radius: 3px;
}
.recColor1 p{
   color: #086afd;
   font-size: 14px;
}
.recColor2 label{
    width: 50px;
    height: 22px;
    background-color: #585858;
    margin-right: 5px;
    border-radius: 3px;
}
.recColor2 p{
   color: #086afd;
   font-size: 14px;
}
.recColor3 label{
    width: 50px;
    height: 22px;
    background-color: #673ab7;
    margin-right: 5px;
    border-radius: 3px;
}
.recColor3 p{
   color: #086afd;
   font-size: 14px;
}