<div class="row m-0 main-notification">
    <div class="row m-0 noti-check">
        <i class="far fa-check-square"></i>
    </div>
    <div class="row m-0 noti-text">
        <h5 class="m-auto">You have created the new recording successfully!</h5>
    </div>
</div>

<div class="row m-0 main-item-row">
    <div class="col-md-6 pl-0 pr-2 mb-3">
        <div class="meadting_box bg-white rounded-10 shadow">

            <div class="row m-0 justify-content-between">
                <span class="blue-text w-auto">Title</span>
                <a class="line-btn w-auto" type="button">Show More</a>
            </div>

        </div>
    </div>
    <div class="col-md-6 pl-2 pr-0 mb-3">
        <div class="meadting_box bg-white rounded-10 shadow">
            <div class="row m-0 justify-content-between">
                <span class="blue-text w-auto">Title</span>
                <a class="line-btn w-auto" type="button">Show More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 pl-0 pr-2 mb-3">
        <div class="meadting_box bg-white rounded-10 shadow">
            <div class="row m-0 justify-content-between">
                <span class="blue-text w-auto">Title</span>
                <a class="line-btn w-auto" type="button">Show More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 pl-2 pr-0 mb-3">
        <div class="meadting_box bg-white rounded-10 shadow">
            <div class="row m-0 justify-content-between">
                <span class="blue-text w-auto">Title</span>
                <a class="line-btn w-auto" type="button">Show More</a>
            </div>
        </div>
    </div>

</div>