<div class="recoarding-share dept-create rounded-10 mt-4">
    <div class="recoarding-share-top bg-white shadow">
        <h3>{{cf.translate('User List')}}</h3>
        <div class="recoarding-share-form dept-create-inner mb-0">
            <div class="form-group position-relative custom_form_2">
                <select class="select_style_1" [(ngModel)]="param.dept">
                    <option value="all">{{cf.translate('All Depts')}}</option>
                    <option *ngFor="let item of dept" [value]="item.id">{{item.dept_name}}</option>
                </select>
            </div>
            <div class="form-group position-relative search_bar">
                <i class="fal fa-search"></i>
                <input type="search" [placeholder]="cf.translate('Please input search key words.')" [(ngModel)]="param.key">
                <input class="button" [value]="cf.translate('Search')" type="buttton" (click)="search()" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 justify-content-center mt-4">
    <div class="col-md-12">
        <div class="row depth-tabel bg-white shadow">
            <div class="col-12 depth-tabel-top row mx-0 mb-4 align-items-center">
                <div class="col-md-auto col-12"><h4>{{cf.translate('Total')}}: {{item.length}}</h4></div>
                <div class="col text-md-end text-start dept-icons">
                    <a class="commonA" (click)="formSet()" data-bs-toggle="modal" data-bs-target="#createModal"><img src="assets/theme/img/add.png" alt="">
                        <span>{{cf.translate('Create')}}</span>
                    </a>
                    <a class="commonA" (click)="showDeleteModal(selection.selected)">
                        <img src="assets/theme/img/exit.png" alt="">
                        <span>{{cf.translate('Remove')}}</span>
                    </a>
                    <a class="commonA" (click)="showRegroupModal(selection.selected)"><img src="assets/theme/img/download-ico.png" alt="">
                        <span>{{cf.translate('Regrouping')}}</span>
                    </a>
                </div>
            </div>
            <div class="col-12 depth-tabel-main mt-md-4">
                <div class="table-responsive header-center">
                    <table mat-table [dataSource]="tableList" class="table" matSort>
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select" sticky>
                        <th mat-header-cell *matHeaderCellDef class="checkTh">
                            <mat-checkbox (change)="$event ? masterToggle() : null;onSelectionChange()"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="checkTh">
                            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null;onSelectionChange()" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                        </ng-container>
                        <ng-container [matColumnDef]="'No'">
                        <th class="NoTh" mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate('No')}} </th>
                        <td class="NoTd" mat-cell *matCellDef="let row; let i = index">
                            {{ (paginator.pageIndex * paginator.pageSize) + (i + 1)}}
                        </td>
                        </ng-container>
                        <ng-container *ngFor="let rows of tbCol; let i = index">
                        <ng-container *ngIf="specialCol.indexOf(rows)==-1" [matColumnDef]="rows">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{cf.translate(tbHeader[i])}} </th>
                            <td mat-cell *matCellDef="let row"> {{row[rows]}} </td>
                        </ng-container>
                        </ng-container>
                        <!-- action -->
                        <ng-container matColumnDef="Action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="stickyOperationHeader-sm">
                            {{cf.translate('Action')}} </th>
                        <td mat-cell *matCellDef="let row" class="stickyOperationCell-sm" style="width: 200px;">
                            <div class="btnRow">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-pill-icon-sm" (click)="showDeleteModal([row])" title="delete"><i
                                        class="fa fa-trash"></i></button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-pill-icon-sm" (click)="formSet(row)"  data-bs-toggle="modal" data-bs-target="#createModal" title="edit" ><i
                                        class="fa fa-edit"></i></button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-pill-icon-sm" (click)="showRegroupModal([row])" title="Reset dept"><i
                                        class="fa fa-address-book"></i></button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-pill-icon-sm-img" (click)="showSendModal(row)" title="send mail" >
                                     <img class="w-30px" src="assets/theme/img/email_1.png"/></button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-pill-icon-sm-img" title="leave message">
                                      <img class="w-30px" src="assets/theme/img/message2.png"/>
                                    </button>
                                </div>
                            </div>
                        </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No Item</td>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<!-- send message modal -->
<div class="modal fade recording-form-modal publish_modal" id="sendModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="share-recording-modal p-md-4 p-3">
                    <h3>{{cf.translate('Send message To')}}&nbsp;{{send_msg.to}}</h3>
                    <div class="recording-modal row">
                        <div class="form-group position-relative custom_form_2">
                            <label for="move_to" class="fs-14 pb-1">{{cf.translate('Content:')}}</label>
                            <textarea [(ngModel)]="send_msg.content" [placeholder]="cf.translate('Type here...')"></textarea>
                        </div>
                        <div class="col-md-6 d-md-block d-none"></div>
                        <div class="col-md-6 modal_btns d-flex justidy-content-end mt-md-5 mt-3">
                            <a class="bg-primary me-2 text-white cursor" (click)="sendmessage()">{{cf.translate('Send')}}</a>
                            <a class="bg-secondary ms-2 text-white cursor" data-bs-dismiss="modal">{{cf.translate('Cancel')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- regrouping modal -->
<div class="modal fade recording-form-modal publish_modal" id="regroupingModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="share-recording-modal p-md-4 p-3">
                    <h3>{{cf.translate('Reset Dept')}}</h3>
                    <div class="dept-comman-bottom" style="display: block;overflow: auto; max-height: 300px;">
                        <div class="list-box" *ngFor="let item of root_item">
                            <div class="list-box-main">
                                <a class="commonA" (click)="item.is_collapse = !item.is_collapse">
                                    <span><img src="assets/theme/img/home.png" alt=""></span>
                                    {{item.dept_name}}
                                </a>
                            </div>
                            <div [class]="item.is_collapse?'list-box-sub border-0 accordion-collapse collapse show':'list-box-sub border-0 accordion-collapse collapse'">

                                <div *ngFor="let li of item.children">
                                    <div class="list-box-main">
                                        <a class="commonA" (click)="li.is_collapse = !li.is_collapse;moveTo=li">
                                            <span><img src="assets/theme/img/plus-profile.png" alt=""></span>
                                            {{li.dept_name}}
                                        </a>
                                    </div>
                                    <div [class]="li.is_collapse?'list-box-sub border-0 accordion-collapse collapse show':'list-box-sub border-0 accordion-collapse collapse'">

                                        <div *ngFor="let ch of li.children" (click)="moveTo=ch">
                                            <a class="commonA">
                                                <span><img src="assets/theme/img/plus-profile.png" alt=""></span>
                                                {{ch.dept_name}}({{ch.users}})
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recording-modal row">
                        <div class="form-group position-relative custom_form_2">
                            <label for="move_to" class="fs-14 pb-1">{{cf.translate('Move To:')}}</label>
                            <input [value]="moveTo?moveTo.dept_name:''" [placeholder]="cf.translate('Select dept from above list.')" readonly>
                        </div>
                        <div class="col-md-6 d-md-block d-none"></div>
                        <div class="col-md-6 modal_btns d-flex justidy-content-end mt-md-5 mt-3">
                            <a class="bg-primary me-2 text-white cursor" (click)="regroup()">{{cf.translate('Confirm')}}</a>
                            <a class="bg-secondary ms-2 text-white cursor" data-bs-dismiss="modal">{{cf.translate('Cancel')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- delete modal -->
<div class="modal fade recording-form-modal publish_modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="share-recording-modal p-md-4 p-3">
                    <div class="recording-modal row mt-3">
                        <h3 class="pt-3 pb-3">{{cf.translate('Are you sure to delete this?')}}</h3>

                        <div class="col-md-6 d-md-block d-none"></div>
                        <div class="col-md-6 modal_btns d-flex justidy-content-end mt-md-5 mt-3">
                            <a class="bg-primary me-2 commonA text-white" (click)="del()" data-bs-dismiss="modal">{{cf.translate('Confirm')}}</a>
                            <a class="bg-secondary ms-2" href="javascript:;" data-bs-dismiss="modal">{{cf.translate('Cancel')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal -->
<div class="modal fade recording-form-modal publish_modal" id="createModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg"  style="max-width: fit-content;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="share-recording-modal p-md-4 p-3">
                    <h3 *ngIf="formGroup.value['memberId']">{{cf.translate('Edit User')}}</h3>
                    <h3 *ngIf="!formGroup.value['memberId']">{{cf.translate('Create New User')}}</h3>
                    <div class="row mx-0">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-auto avtar-side">
                                    <div class="row rounded-10 justify-content-center">
                                        <div class="col-8 pt-md-5 pt-4 pb-md-4 pb-3">
                                            <img #preview_avatar [src]="formGroup.value['avatar']"  (error)="onImgError($event)" class="w-100" alt="" style="cursor: pointer; max-width:277px" (click)="!is_lock&&openFileInput()">
                                            <input type="file" #fileinput  (change)="setFile($event)" style="display: none;">
                                        </div>
                                        <div class="col-12 fs-lg-28 fs-md-20 fs-20 text-center text-white pb-md-4 pb-3 mb-1">{{cf.translate('Avatar')}}</div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <form #ngForm="ngForm" [formGroup]="formGroup" (submit)="formGroup.value['memberId']?edit():create()">
                                        <div class="row bg-white shadow ms-md-3 me-md-0 rounded-10">
                                            <div class="col-12">
                                                <div class="row justify-content-center mb-2 pb-1">
                                                    <div class="col-6 custom_form_2">
                                                        <label for="username" class="text-primary fs-14 pb-1">{{cf.translate('User Name')}}*</label>
                                                        <input type="text" formControlName="nativeName" [class]="ngForm.submitted&&formGroup.controls['nativeName'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                    <div class="col-6 custom_form_2">
                                                        <label for="Department" class="text-primary fs-14 pb-1 d-flex">{{cf.translate('Department')}}*</label>
                                                        <input class="cursor" [value]="formGroup.value['dept_id']?getdept(formGroup.value['dept_id']):''" [class]="ngForm.submitted&&formGroup.controls['dept_id'].errors?'form-error':''" (click)="is_show=!is_show" [placeholder]="cf.translate('Please click here to select dept.')" readonly>
                                                        <div *ngIf="is_show" class="dept-comman-bottom dept-div-content">
                                                            <div class="rigidheight">
                                                              <div class="list-box" *ngFor="let item of root_item">
                                                                  <div class="list-box-main">
                                                                      <a class="commonA" (click)="item.is_collapse = !item.is_collapse">
                                                                          <span><img src="assets/theme/img/home.png" alt=""></span>
                                                                          {{item.dept_name}}
                                                                      </a>
                                                                  </div>
                                                                  <div [class]="item.is_collapse?'list-box-sub border-0 accordion-collapse collapse show':'list-box-sub border-0 accordion-collapse collapse'">

                                                                      <div *ngFor="let li of item.children">
                                                                          <div class="list-box-main">
                                                                              <a class="commonA" (click)="li.is_collapse = !li.is_collapse;setDept(li.id)">
                                                                                  <span><img src="assets/theme/img/plus-profile.png" alt=""></span>
                                                                                  {{li.dept_name}}
                                                                              </a>
                                                                          </div>
                                                                          <div [class]="li.is_collapse?'list-box-sub border-0 accordion-collapse collapse show':'list-box-sub border-0 accordion-collapse collapse'">

                                                                              <div *ngFor="let ch of li.children" (click)="setDept(ch.id); is_show=false">
                                                                                  <a class="commonA">
                                                                                      <span><img src="assets/theme/img/plus-profile.png" alt=""></span>
                                                                                      {{ch.dept_name}}({{ch.users}})
                                                                                  </a>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                            </div>
                                                            <div class="closeButtonDiv cursor" (click)="is_show=false">
                                                              <i class="fa fa-angle-up cursor"></i>
                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mb-2 pb-1">
                                                    <div class="col-6 custom_form_2">
                                                        <label for="phonenumber" class="text-primary fs-14 pb-1">{{cf.translate('Phone Number')}}*</label>
                                                        <input type="text" formControlName="phone" [class]="ngForm.submitted&&formGroup.controls['phone'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                    <div class="col-6 custom_form_2">
                                                        <label for="email" class="text-primary fs-14 pb-1">{{cf.translate('E-mail')}}*</label>
                                                        <input type="email" formControlName="email" [class]="ngForm.submitted&&formGroup.controls['email'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                </div>
                                                <div *ngIf="!formGroup.value['memberId']" class="row justify-content-center mb-2 pb-1">
                                                    <div class="col-6 custom_form_2">
                                                        <label for="password" class="text-primary fs-14 pb-1">{{cf.translate('Password')}}*</label>
                                                        <input type="password" formControlName="password" [class]="ngForm.submitted&&formGroup.controls['password'].errors?'form-error':''" placeholder="At least 8 number and letter" [readonly]="is_lock">
                                                    </div>
                                                    <div class="col-6 custom_form_2">
                                                        <label for="Confirm" class="text-primary fs-14 pb-1" placeholder=''>{{cf.translate('Confirm password')}}</label>
                                                        <input type="password" id="Confirm" formControlName="re_pass"  [class]="ngForm.submitted&&formGroup.value['password']!=formGroup.value['re_pass']?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                </div>
                                                <div class="row mb-2 pb-1">
                                                    <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-10 col-10 custom_form_2">
                                                        <label for="Confirm" class="text-primary fs-14 pb-2">{{cf.translate('Role of Dept')}}</label>
                                                        <div class="row">
                                                            <div class="col-md-6 custom_radio_2">
                                                                <input type="radio" id="member" [value]="1" formControlName="role" [readonly]="is_lock">
                                                                <label for="member">{{cf.translate('member')}}</label>
                                                            </div>
                                                            <div class="col-md-6 custom_radio_2" >
                                                                <input type="radio" id="manage" [value]="2" formControlName="role" [readonly]="is_lock">
                                                                <label for="manage">{{cf.translate('manage')}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="formGroup.value['role']==2" class="col-xxl-6 col-xl-6 col-lg-8 col-md-10 col-10 custom_form_2">
                                                        <label for="max_recording_space" class="text-primary fs-14 pb-1">{{cf.translate('Duty')}}</label>
                                                        <input type="text" formControlName="duty" [class]="ngForm.submitted&&formGroup.controls['duty'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                </div>
                                                <div class="row mb-2 pb-1">
                                                    <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-10 col-10 custom_form_2">
                                                        <label for="max_recording_space" class="text-primary fs-14 pb-1">{{cf.translate('Max recording limit')}}*</label>
                                                        <input type="text" formControlName="messageLimit" [class]="ngForm.submitted&&formGroup.controls['messageLimit'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mb-2 pb-1">
                                                    <div class="col-6 custom_form_2">
                                                        <label for="max_connections" class="text-primary fs-14 pb-1" >{{cf.translate('Max connections')}}*</label>
                                                        <input type="text" formControlName="maxGuest"  [class]="ngForm.submitted&&formGroup.controls['maxGuest'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                    <div class="col-6 custom_form_2">
                                                        <label for="max_cloud_disk_space" class="text-primary fs-14 pb-1">{{cf.translate('Max cloud disk space')}}*</label>
                                                        <input type="text" formControlName="diskQuota" [class]="ngForm.submitted&&formGroup.controls['diskQuota'].errors?'form-error':''" [readonly]="is_lock">
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center mb-2 pb-1 mt-lg-5 mt-md-4 mt-3 py-lg-5 py-md-4 py-3">
                                                    <div class="col-12 text-end px-5 mb-lg-5 mb-md-4 mb-3">
                                                        <button class="customBtn2 no-border" type="submit">{{cf.translate('Save')}}</button>
                                                        <a class="customBtn2 ml-3" (click)="formSet()">{{cf.translate('Create New')}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
